body,
h1,
p,
div,
button {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

body {
    background-color: #000;
    background-image: url('img/matrix3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container Styles */
.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 2px solid #00ff00;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff00;
}

/* Header Styles */
header {
    margin-bottom: 20px;
}

.heading {
    font-size: 2.5rem;
}

/* Display Styles */
.display {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #00ff00;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.result,
.input {
    margin: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result {
    font-size: 1.8rem;
}

.input {
    font-size: 1.2rem;
}

/* Buttons Grid and Button Styles */
.buttons-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 320px;
}

.button {
    flex: 1 0 calc(25% - 10px);
    height: 60px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: #00ff00;
    border: 1px solid #00ff00;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-3px);
}

.button#equals {
    flex-basis: 50%;
}

/* Footer Styles */
.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.footer a {
    color: #00ff00;
    text-decoration: none;
    transition: color 0.2s;
}

.footer a:hover {
    color: #ffffff;
}